body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D9D9D9;
}

.container {
  width: 1150px;
  margin: auto;

}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #8987A1;
  text-align: center;
  padding-left: 65px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul li a:hover {
  color: #252432;
  font-weight: bold;
}

/* Banner Section */
.banner {
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.banner .banner-text h1 {
  font-size: 65px;
  font-weight: 700;
  font-family: "Noto Serif", serif;

}

.banner .banner-text h1 span {
  font-size: 65px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  color: #E95A08;
}

.banner .banner-text p {
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  position: absolute;
  bottom: -20px;
}

/* Planet Part */
.planet-part-text{
  text-align: center;
}
.planet-part-text h2{
  font-size: 50px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
}
.planet-part-text h2 span{
color: #E95A08;
}
.planet-part-text p {
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    opacity: .5;
    word-spacing: 4px;
}
.planet-part-img-first {
  display: flex;
  gap: 2%;
}

.planet-part-second-first {
  display: flex;
  gap: 2%;
}

.card {
  max-width: 300px;
  text-align: center;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px 74px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}