body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D9D9D9;
}

.container {
  width: 1150px;
  margin: auto;

}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #8987A1;
  text-align: center;
  padding-left: 65px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul li a:hover {
  color: #252432;
  font-weight: bold;
}

/* Banner Section */
.banner {
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.banner .banner-text h1 {
  font-size: 65px;
  font-weight: 700;
  font-family: "Noto Serif", serif;

}

.banner .banner-text h1 span {
  font-size: 65px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  color: #E95A08;
}

.banner .banner-text p {
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  position: absolute;
  bottom: -20px;
}

/* Planet Part */
.planet-part {
  margin-top: 100px;
}

.planet-part-text {
  margin-bottom: 50px;
}

.planet-part-text {
  text-align: center;
}

.planet-part-text h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
}

.planet-part-text h2 span {
  color: #E95A08;
}

.planet-part-text p {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  opacity: .5;
  word-spacing: 4px;
}

.planet-part-img-first {
  display: flex;
  gap: 2%;
}

.planet-part-img-first .card h1 {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.planet-part-img-second {
  display: flex;
  gap: 2%;
  margin-top: 20px;
}

.planet-part-img-second .card h1 {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.card {
  max-width: 300px;
  text-align: center;
}

.price {
  color: #111111;
  font-weight: 700;
  font-size: 22px;
  font-family: "Inter", sans-serif;
}

.card button {
  border: none;
  outline: 0;
  padding: 15px 80px;
  color: white;
  background-color: #E95A08;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.card button:hover {
  background-color: cadetblue;
  transition: .6s;
}

/* Flower & Plants Part */
.flower_Plants_part {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 3%;
  margin-top: 120px;
}

.flower-plants-img {
  background-image: url(../assets/flower-store.png);
  background-repeat: no-repeat;
  max-height: 597px;
  width: 100%;
  /* background-origin: content-box; */
  position: relative;
}

.flower-plants-img img {
  position: absolute;
  top: -22%;
  left: 61%;
}

.flower-plants-text {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 25px;
}

.flower-plants-text h3 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  margin: 0;
}

.flower-plants-text li {
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-left: 35px;
  color: #000000;
  opacity: .5;
  word-spacing: 6px;
}

/* Deals-img-part */
.deals-text-part h3 {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: "Noto Serif", serif;
  margin-right: 10px;
  margin-top: 145px;
  margin-bottom: 0;
}

.deals-text-part h3 span {
  color: #E95A08;
}

.deals-text-part p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 115px;
  font-family: "Inter", sans-serif;
}

.deals-img-part {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 400px;
  margin-bottom: 110px;
}

.deals-img-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  height: 200px;
  width: 367px;
}

.deals-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  height: 200px;
  width: 367px;
}

.deals-img-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 65%;
  height: 100%;
}

.deals-first-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  gap: 20px;
}

.offer-content h3,
.offer-content h2 {
  border-radius: 6px;
  font-weight: 600;
}

.offer-content a {
  display: block;
  margin-top: 8px;
  color: white;
  text-decoration: underline;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.offer-card,
.offer-right {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.offer-content h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
}

.offer-content h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
}

.deals-img-3 .offer-content a {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
/* Bunch Section */

.bunch-part{
  background: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 533px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bunch-content h3{
  font-size: 50px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  color: white;
  word-spacing: 10px;
  margin: 0;
}
.bunch-content .search-box input {
    width: 630px;
    height: 40px;
    padding-left: 15px;
    position: absolute;
    right: 10%;
}
.search-box{
 position: relative;
 margin-top: 29px;
}
.bunch-content .search-box button {
    color: white;
    background-color: #E95A08;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    padding: 12px 50px;
    position: absolute;
    right: -18.5%;
    bottom: -44px;
}
.bunch-content .search-box button:hover{
    background-color: cadetblue;
  transition: .6s;
}
/* Footer Section */
.footer-container{
  display: flex;
  justify-content: space-between;
}
.footer-part{
  background-color: #FFFFFF;
  padding-top: 50px;
}
.footer-menu{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer-menu li a{
  text-decoration: none;
}
.footer-icon{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.logo-text .footer-logo-text p{
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
